Repository opensocsysarch/CoreGen, pull requests merged in 2022-01, with the labels that each got.

#359 Initial VLIW Infrastructure & IN/OUT Intrinsic support
  .gitignore
  include/CoreGen/CoreGenBackend/CoreGenBackend.h
  include/CoreGen/CoreGenBackend/CoreGenReg.h
  include/CoreGen/CoreGenBackend/Passes/Analysis/EncodingGapPass.h
  include/CoreGen/CoreGenCodegen/CoreGenCodegen.h
  include/CoreGen/CoreGenSigMap/SCSig.h
  include/CoreGen/StoneCutter/SCIntrin.h
  include/CoreGen/StoneCutter/SCParser.h
  src/CGCLI/CGCLIMain.cpp
  src/CGCLI/CGCLIOpts.cpp
  src/CGCLI/CGCLIOpts.h
  src/CoreGenBackend/CoreGenBackend.cpp
  src/CoreGenBackend/CoreGenReg.cpp
  src/CoreGenBackend/CoreGenYaml.cpp
  src/CoreGenBackend/Passes/Analysis/EncodingGapPass.cpp
  src/CoreGenCodegen/CoreGenCodegen.cpp
  src/CoreGenSigMap/SCSig.cpp
  src/StoneCutter/Intrinsics/SCIn.cpp
  src/StoneCutter/Intrinsics/SCLoadElem.cpp
  src/StoneCutter/Intrinsics/SCOut.cpp
  src/StoneCutter/Passes/SCSigMap.cpp
  src/StoneCutter/Passes/SCVLIWPipeBuilder.cpp
  src/StoneCutter/SCParser.cpp
  test/CGCLI/cgcli_stonecutter.sh
  test/CGCLI/stonecutter.yaml
Labels: SCComp, StoneCutter, VLIW

#361 fixing line numbering; Issue #360
  src/StoneCutter/SCParser.cpp
Labels: bug

#365 re-merging vliw changes up to devel
  README.md
  include/CoreGen/CoreGenSigMap/CoreGenSigMap.h
  include/CoreGen/StoneCutter/Passes/SCVLIWPipeBuilder.h
  include/CoreGen/StoneCutter/SCExec.h
  include/CoreGen/StoneCutter/SCParser.h
  include/CoreGen/StoneCutter/SCPass.h
  src/CoreGenSigMap/CoreGenSigMap.cpp
  src/SCSigV/SCSigV.cpp
  src/StoneCutter/Passes/SCInstArg.cpp
  src/StoneCutter/Passes/SCPipeBuilder.cpp
  src/StoneCutter/Passes/SCSigMap.cpp
  src/StoneCutter/Passes/SCVLIWPipeBuilder.cpp
  src/StoneCutter/SCExec.cpp
  src/StoneCutter/SCParser.cpp
  src/StoneCutter/SCPass.cpp
  test/StoneCutter/CMakeLists.txt
  test/StoneCutter/Pipeliner/CMakeLists.txt
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_arg_KF.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_arg_KF.sh
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_basic_1.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_basic_1.sh
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_basic_2.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_basic_2.sh
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_in_KF.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_in_KF.sh
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_out_KF.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_out_KF.sh
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_stage_KF.sc
  test/StoneCutter/Pipeliner/sc_vliw_pipeline_stage_KF.sh
Labels: VLIW
